<a href="https://colab.research.google.com/github/shanthan5f8/NNDL/blob/main/Assigment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_excel(os.path.join(os.getcwd(), 'Assets', '/content/drive/MyDrive/Load Data in kW.xlsx'))
print(data.shape)
data.head()

(2184, 3)

         Date      Time   Load (kW)
0  01.09.2018  00:00:00  5551.82208
1         NaN  01:00:00  4983.17184
2         NaN  02:00:00  4888.39680
3         NaN  03:00:00  5072.95872
4         NaN  04:00:00  5196.25980

In [4]:
x = []
y = []
for i in range(24 * 7, data.shape[0]):
    x.append(data['Load (kW)'].iloc[i - 24 * 7]) 
    y.append(data['Load (kW)'].iloc[i])

In [5]:
data = pd.DataFrame({'Previous Week Load' : x, 'Present Week Load' : y})
data.head()

   Previous Week Load  Present Week Load
0          5551.82208         5346.52812
1          4983.17184         5138.89596
2          4888.39680         4940.77248
3          5072.95872         4766.18688
4          5196.25980         5020.11540

In [6]:
maxX = np.max(data['Previous Week Load'])
minX = np.min(data['Previous Week Load'])
maxY = np.max(data['Present Week Load'])
minY = np.min(data['Present Week Load'])

data['Previous Week Load'] = (data['Previous Week Load'] - minX) / (maxX - minX)
data['Present Week Load'] = (data['Present Week Load'] - minY) / (maxY - minY)

In [7]:
x = data['Previous Week Load']
y = data['Present Week Load']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=101)

In [8]:
m = np.random.uniform(-2, 2)
c = np.random.uniform(-2, 2)
eta = 0.5
epochs = 500
gm2 = 0
gc2 = 0
e = 1E-6
for _ in range(epochs):
    for i in range(trainX.shape[0]):
        gradM = -1 * (trainY.iloc[i] - m * trainX.iloc[i] - c) * trainX.iloc[i]
        gradC = -1 * (trainY.iloc[i] - m * trainX.iloc[i] - c)
        gm2 += (gradM ** 2)
        gc2 += (gradC ** 2)
        m -= (eta * gradM) / ((e + gm2) ** 0.5)
        c -= (eta * gradC) / ((e + gc2) ** 0.5)
print(f'm = {m}\nc = {c}')

m = 0.48573652762217123
c = 0.2313562402627015

In [9]:
train_pred = [m * trainX.iloc[i] + c for i in range(trainX.shape[0])]
test_pred = [m * testX.iloc[i] + c for i in range(testX.shape[0])]

train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in trainY]
testY = [i * (maxY - minY) + minY for i in testY]

training_MAE = sum([abs(train_pred[i] - trainY[i]) for i in range(len(trainY))]) / len(trainY)
training_MSE = sum([(train_pred[i] - trainY[i]) ** 2 for i in range(len(trainY))]) / len(trainY)
training_RMSE = training_MSE ** 0.5
print('Training Error :')
print(f'MAE : {training_MAE}')
print(f'MSE : {training_MSE}')
print(f'RMSE : {training_RMSE}')

testing_MAE = sum([abs(test_pred[i] - testY[i]) for i in range(len(testY))]) / len(testY)
testing_MSE = sum([(test_pred[i] - testY[i]) ** 2 for i in range(len(testY))]) / len(testY)
testing_RMSE = testing_MSE ** 0.5
print('Testing Error :')
print(f'MAE : {testing_MAE}')
print(f'MSE : {testing_MSE}')
print(f'RMSE : {testing_RMSE}')

Training Error :
MAE : 737.0269742911535
MSE : 891424.0566999933
RMSE : 944.1525600770213
Testing Error :
MAE : 787.1165786210545
MSE : 968114.2641684042
RMSE : 983.9279771245475

In [10]:
pd.DataFrame({'Actual' : trainY, 'Predicted' : train_pred})

          Actual    Predicted
0     5086.98792  5060.577285
1     6378.60960  5731.525566
2     7647.78456  6182.157948
3     6165.05400  5656.066613
4     5918.45184  5501.815179
...          ...          ...
1809  5020.11540  5866.684976
1810  4048.82712  5524.164969
1811  5674.03200  5578.183276
1812  5621.65632  6995.538791
1813  5437.09440  5695.387092

[1814 rows x 2 columns]

In [11]:
pd.DataFrame({'Actual' : testY, 'Predicted' : test_pred})

         Actual    Predicted
0    7609.43808  6756.055105
1    4187.24856  5748.799302
2    6738.69240  6181.551852
3    5640.67368  6206.098740
4    6550.07760  5442.417770
..          ...          ...
197  5761.79244  6598.848953
198  6955.67736  6087.152399
199  8607.69360  6021.087934
200  6532.93080  6219.508614
201  5090.57316  5246.497236

[202 rows x 2 columns]

In [12]:
x = float(input('Enter the load at same hour in previous week: '))
x = (x - minX) / (maxX - minX)
prediction = m * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted load at present hour :', prediction)

Enter the load at same hour in previous week: 1000
Predicted load at present hour : 3484.666386550601